{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow p-4 border-0 bg-glass">
            <!-- Title based on Stage -->
            <h3 class="mb-2 text-success fw-bold">{{ title }}</h3>
                        
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                
                <div class="d-grid mt-4">
                    <button class="btn btn-success fw-bold" type="submit">Continue</button>
                </div>
            </form>

            {% if stage == 'phone_check' %}
            <div class="mt-3 text-center">
                <small><a href="{% url 'password_reset' %}?start_over=1" class="text-secondary text-decoration-none">Not you? Start Over</a></small>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}